mixin board(board)
    div
        h3 제목 : #{board.title}
        h4 작성자 : #{board.writer}
        p 내용 : #{board.content}
        small=board.createdAt
        button 
            a(href="/delete") 삭제
        hr