mixin infoMixin(info)
    div.HostIP(style='font-size:2rem') HostIP
    each hostInfo in info.info.hostInfo.value
        div.do-inner
            div.icon
                if hostInfo.power_state=="POWERED_ON"
                    i.fa-solid.fa-desktop(style='color: #f5cc62;float:left')
                    p(style='color: #d34242;width:auto') POWERED_OFF
                else 
                    i.fa-solid.fa-desktop(style='color: #f5cc62;float:left')
                    p(style='color: #00aa00;width:auto;') POWERED_ON
            div.content
                h3 #{hostInfo.host}
                p #{hostInfo.name}