doctype html
html(lang="ko")
    head
        title Watch Dog
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(rel="icon" href="/uploads/favicon.ico")
    body
        header
            div.container(style="background-color:gray")
                h1
                    button#img_btn.btn_image(type='button' style="background:none; border:none")
                        img(src='/uploads/image.png' onclick="location.href='/';")
                nav
                    ul 
                        li
                            a(href="login" style="color:white") 로그인
                        li
                            a(href="join" style="color:white") 회원가입
        main
            block content

    include partials/footer