extends base.pug

block content 
    a(href="/session/api") SessionID 가져오기 GPT
    hr
    a(href="/session/pre") SessionID 가져오기 되던 것
    hr
    a(href="/host/nomal") SessionID VM 가져오기
    hr
    a(href="/host/axios") Axios로 SessionID VM 가져오기
    hr
    a(href="/dif/ip") 잘못된 IP Addr 사용
    hr
    a(href="/dif/username") 잘못된 아이디 사용
    hr
    a(href="/basic/no") Basic❌ Session ID VM 가져오기
    hr
    h1 메인화면 입니다