doctype html
head
    meta(charset='UTF-8')
    title WatchDog
    link(rel='stylesheet' href='/assets/css/host.css')
    link(rel="icon" href="/uploads/favicon.ico")
    style.
        .container {
            margin: 0;
            top: 200px;
            left: 50%;
            position: absolute;
            text-align: center;
            color: white;
            transform: translateX(-50%);
            width: auto;
        }
        .container h1{
            color: #f5cc62;
            font-size: 42px;
            padding-bottom: 32px; 
        }
        .container p{
            padding-bottom: 10px;
        }
        .container a{
            text-decoration: underline;
            color: #555599;
            font-size: 20px;
            font-weight: 900;
        }
body
    main#main
        section#features.do
            div.container
                h1 Mail 전송이 완료 됐습니다.
                a(href="/") Main 화면으로 가기 &rarr;