doctype html
html(lang='ko')
    head
        meta(charset='UTF-8')
        title WatchDog
    body
        h2 CPU
        table 
            tr 
                th 시간
                th 모니터링
            each val, index in realStats.values[0]["stat-list"].stat[0].timestamps
                tr 
                    th=val
                    th #{realStats.values[0]["stat-list"].stat[0].data[index]}%
        h2 Mem
        table 
            tr 
                th 시간
                th 모니터링
            each val, index in realStats.values[0]["stat-list"].stat[1].timestamps
                tr 
                    th=val
                    th #{realStats.values[0]["stat-list"].stat[1].data[index]}%