extends base.pug

block content
    form(method="POST")
        input(placeholder="제목", required, type="text", name="title")
        textarea(placeholder="내용", required, type="text", name="content")
        input(type="submit", value="게시글 등록")