mixin hostMixin(host)
    div.do-inner
        a(href=`/vs/hosts/vms?hosts=${host.host}`)
            div.icon
                if host.power_state=="POWERED_ON"
                    i.fa-solid.fa-desktop(style='color: #f5cc62;float:left')
                    p(style='color: #00aa00;width:auto;') POWERED_ON
                else 
                    i.fa-solid.fa-desktop(style='color: #f5cc62;float:left')
                    p(style='color: #d34242;width:auto') POWERED_OFF
            div.content
                h3 #{host.host}
                p #{host.name}