mixin vmListMixin(vm)
    if !vm.name.includes("vCLS")
        a(href=`/vs/hosts/vms/detail?vm=${vm.vm}&hosts=${hosts}`)  
            div.do-inner
                div.icon
                    if vm.power_state=="POWERED_ON"
                        i.fa-solid.fa-desktop(style='color: #f5cc62;float:left')
                        p(style='color: #00aa00;width:auto;') POWERED_ON
                    else 
                        i.fa-solid.fa-desktop(style='color: #f5cc62;float:left')
                        p(style='color: #d34242;width:auto') POWERED_OFF
                div.content
                    h3 #{vm.vm}
                    p VM 이름: #{vm.name}
                if vm.power_state=="POWERED_OFF"
                    div.power-btn
                        span VM 켜기&nbsp;&nbsp;
                        i.fa-solid.fa-power-off(style='color:#00aa00')
                else
                    div.power-btn
                        span VM 끄기&nbsp;&nbsp;
                        i.fa-solid.fa-power-off(style='color:#d34242')