section#footer.footer
    footer
        div.aside_box
            div.area_user
                div.area_user_row
                    span.text_bold-13 Creators
                    ul
                        li
                            span 김범수
                        li
                            span 김성범
                        li
                            span 김은수
                        li
                            span 이상민
                        li
                            span 최지원
            div.area_user_row
                span.text_bold-13 Email
                ul
                    li
                        span seuc1473@sungkyul.ac.kr