extends base.pug
include mixins/board

block content 
    if loggedIn
        h1 #{user}님 안녕하세요
    else
        h1 메인화면 입니다
    each board in boards
        +board(board)
        hr
    else
        li Sorry nothing found.